body {
  line-height: var(--line-height);
}

img {
  object-fit: cover;
  object-position: center center;
}

html,
body,
div,
main,
section,
header,
footer,
aside {
  max-width: none;
}

:focus {
  box-shadow: 0 0 0 0.0625rem white, 0 0 0 0.1875rem black, var(--box-shadow);
  outline: none;
}
