html,
body {
  block-size: 100%;
  margin: 0;
}

body {
  line-height: var(--line-height);

  // Stop horizontal scrolling when using a mouse since viewport units don't
  // take scrollbars into account.
  @media (any-pointer: fine) {
    @supports (width: 100vw) {
      overflow-inline: hidden;
    }
  }
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

html,
body,
div,
main,
section,
header,
footer,
aside,
ul,
ol,
li {
  max-width: none;
}

button {
  background: black;
  border: none;
  color: white;
  display: inline-block;
  font: inherit;
  padding: $space-sm $space-md;
  outline: $border-width-sm solid currentColor;
}

:focus {
  box-shadow: 0 0 0 var(--border-width-lg) black, var(--box-shadow, 0 0 0 transparent);
  outline: none;
}
