* {
  box-sizing: border-box;

  --gap: var(--gap-default);

  --gap-inherit: var(--gap);
  --gap-inherit-block: var(--gap-block, var(--gap-inherit));
  --gap-inherit-inline: var(--gap-inline, var(--gap-inherit));

  grid-gap: var(--gap-block, var(--gap)) var(--gap-inline, var(--gap));
  gap: var(--gap-block, var(--gap)) var(--gap-inline, var(--gap));
  margin-top: 0;
  margin-bottom: 0;

  box-shadow: var(--box-shadow);
  max-width: var(--measure);

  --visually-hidden: _;

  position: var(--visually-hidden, absolute);
  height: var(--visually-hidden, 1px);
  width: var(--visually-hidden, 1px);
  overflow: var(--visually-hidden, hidden);
  clip: var(--visually-hidden, rect(1px 1px 1px 1px)); /* IE6, IE7 */
  clip: var(--visually-hidden, rect(1px, 1px, 1px, 1px));

  --clearfix: _;
}

* + * {
  --gap-flow-self: var(--gap-flow);

  margin-top: var(--gap-flow-self);
}

*::before,
*::after {
  content: var(--clearfix, " "); /* 1 */
  display: var(--clearfix, table); /* 2 */
}

*::after {
  clear: var(--clearfix, both);
}
