.l-box {
  --gutter: var(--space-md);

  border: var(--border-width) solid currentColor;
  padding: var(--gutter);
  outline: var(--border-width-md) solid transparent;
}

.l-box--with-border {
  border: var(--border-width) solid currentColor;
}

.l-box--stretch {
  margin-inline-start: calc(-1 * var(--gutter));
  margin-inline-end: calc(-1 * var(--gutter));
  max-inline-size: calc(100% + 2 * var(--gutter));
  inline-size: calc(100% + 2 * var(--gutter));
}

.l-stack {
  display: flex;
  flex-direction: column;
  grid-gap: 0;
  gap: 0;
  margin-block-end: calc(-1 * var(--gap-block-self));

  > * {
    margin: 0;
    margin-block-end: var(--gap-block-self);
  }
}

.l-stack--split {
  > :nth-last-child(2) {
    margin-block-end: auto;
  }
}

.l-stack--split-start {
  > :first-child {
    margin-block-end: auto;
  }
}

.l-switcher {
  --breakpoint-base: var(--measure);
  --breakpoint-scale: 1.25;

  --breakpoint-1: 0rem;
  --breakpoint-2: var(--breakpoint-base);
  --breakpoint-3: calc(var(--breakpoint-2) * var(--breakpoint-scale));
  --breakpoint-4: calc(var(--breakpoint-3) * var(--breakpoint-scale));
  --breakpoint-5: calc(var(--breakpoint-4) * var(--breakpoint-scale));
  --breakpoint-6: calc(var(--breakpoint-5) * var(--breakpoint-scale));
  --breakpoint-7-or-more: 200%;

  --breakpoint: var(--breakpoint-1);

  --child-target-size: auto;

  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
  gap: 0;
  margin-inline-start: calc(-1 * var(--gap-inline-self));
  margin-block-end: calc(-1 * var(--gap-block-self));

  > * {
    flex: 1 1 calc((var(--breakpoint) - 100%) * 9999);
    margin: 0;
    margin-inline-start: var(--gap-inline-self);
    margin-block-end: var(--gap-block-self);

    @include n-exactly(2) {
      --breakpoint: var(--breakpoint-2);
    }

    @include n-exactly(3) {
      --breakpoint: var(--breakpoint-3);
    }

    @include n-exactly(4) {
      --breakpoint: var(--breakpoint-4);
    }

    @include n-exactly(5) {
      --breakpoint: var(--breakpoint-5);
    }

    @include n-exactly(6) {
      --breakpoint: var(--breakpoint-6);
    }

    @include n-or-more(7) {
      --breakpoint: var(--breakpoint-7-or-more);
    }
  }
}

.l-switcher--with-sidebar > * {
  flex: 9999 1 0;
  min-width: calc(50% - var(--gap-inline-self));
}

.l-switcher__sidebar {
  flex: 1 1 var(--child-target-size);
  min-width: 0;
}

.l-grid {
  --child-target-size: 10rem;
  --child-target-size-fallback: calc(10% + 6.5rem);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--child-target-size-fallback), 1fr));

  @supports (width: min(1rem, 2rem)) {
    grid-template-columns: repeat(auto-fill, minmax(min(var(--child-target-size), 100%), 1fr));
  }

  list-style: none;
  padding: 0;

  > * {
    @supports (display: grid) {
      margin: 0;
    }
  }
}

.l-center {
  --max-size: var(--measure);

  display: flex;
  flex-direction: column;

  > * {
    inline-size: 100%;
    margin: auto;
    max-inline-size: var(--max-size);
  }
}

.l-cover {
  --gutter: var(--space-md);
  --min-size: 100vh;

  display: flex;
  flex-direction: column;
  grid-gap: 0;
  gap: 0;
  justify-content: space-between;
  min-block-size: var(--min-size);
  padding: var(--gutter);

  > :first-child:not(.l-cover__main) {
    margin: 0;
    margin-block-end: var(--gap-block-self);
  }

  > :last-child:not(.l-cover__main) {
    margin: 0;
    margin-block-start: var(--gap-block-self);
  }
}

.l-cover--breakout {
  inline-size: 100vw;
  position: relative;
  inset-inline-start: 50%;
  inset-inline-end: 50%;
  margin-inline-start: -50vw;
  margin-inline-end: -50vw;
}

.l-cover__main {
  margin-block: auto;
}

.l-frame {
  overflow: hidden;
  padding-block-end: calc(100% / (var(--aspect-ratio, 1/1)));
  position: relative;

  > * {
    position: absolute;
    inset: 0 0 0 0;
    block-size: 100%;
    inline-size: 100%;
  }
}

.l-cluster {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
  gap: 0;
  margin-inline-start: calc(-1 * var(--gap-inline-self));
  margin-block-end: calc(-1 * var(--gap-block-self));

  > * {
    flex: 0 0 auto;
    margin: 0;
    margin-inline-start: var(--gap-inline-self);
    margin-block-end: var(--gap-block-self);
  }
}

.l-cluster--spread {
  justify-content: space-between;
}

.l-cluster--end {
  justify-content: flex-end;
}

.l-cluster--center {
  justify-content: center;
}

.l-carousel {
  display: flex;
  grid-gap: 0;
  gap: 0;
  list-style: none;
  max-inline-size: 100%;
  overflow-inline: auto;
  overflow-block: hidden;
  position: relative;

  &::before {
    content: '';
    // TODO
  }

  &::after {
    content: '';
    inset-inline-end: 0;
    position: sticky;
    block-size: 100%;
    background: green;
    inline-size: 1rem;
    display: block;
    flex: 0 0 1rem;
  }

  > * {
    flex: 0 0 auto;

    + * {
      margin-block-start: 0;
      margin-inline-start: var(--gap-inline-self, var(--gap-inline));
    }
  }
}
