.l-box {
  --gutter: var(--space-md);
  --gutter-inherit: var(--gutter);
  --clearfix: initial;

  @include l-box(var(--gutter));
}

.l-box--stretch {
  @include l-box--stretch(var(--gutter-inherit));
}

.l-center {
  --max-size: var(--measure);

  @include l-center(var(--max-size));
}

.l-cluster {
  @include l-cluster(var(--gap-computed-inline), var(--gap-computed-block));
}

.l-cluster--spread {
  @include l-cluster--spread;
}

.l-cluster--end {
  @include l-cluster--end;
}

.l-cluster--center {
  @include l-cluster--center;
}

.l-cover {
  --gutter: var(--space-md);
  --gutter-inherit: var(--gutter);
  --min-size: 100vh;

  @include l-cover(var(--min-size), var(--gutter), var(--gap-computed-block));
}

.l-cover--breakout {
  @include l-cover--breakout;
}

.l-cover__main {
  @include l-cover__main;
}

.l-float {
  --breakpoint: var(--measure);
  --direction: left;
  --min-size: calc(25% + var(--measure) / 8);
  --max-size: 100%;
  --gap-inline-start: 0;
  --gap-inline-end: 1;

  @include l-float(
    var(--direction),
    var(--breakpoint),
    var(--min-size),
    var(--max-size),
    none,
    none
  );

  margin-bottom: var(--gap-computed-block);
  margin-left: calc(var(--gap-inline-start) * var(--gap-computed-inline));
  margin-right: calc(var(--gap-inline-end) * var(--gap-computed-inline));

  // Remove default gap on subsequent element.
  + * {
    --gap-block-self: 0;
  }
}

.l-float--end {
  --direction: inline-end;
  --gap-inline-start: 1;
  --gap-inline-end: 0;
}

.l-frame {
  @include l-frame(var(--aspect-ratio, 1/1));
}

.l-grid {
  --child-target-size: 10rem;
  --child-target-size-fallback: calc(10% + 6.5rem);

  @include l-grid(var(--child-target-size), var(--child-target-size-fallback));
}

.l-reel {
  @include l-reel(var(--gap-computed-inline));
}

.l-sidebar {
  --min-size: 50%;

  @include l-sidebar(
    var(--breakpoint),
    var(--min-size),
    var(--gap-computed-inline),
    var(--gap-computed-block),
    var(--target-size, var(--child-target-size)),
    '.l-sidebar__main'
  );

  > * {
    @include n-exactly(1) {
      --breakpoint: 100%;
    }

    @include n-exactly(2) {
      --breakpoint: 100%;
    }
  }
}

.l-sidebar__main {
  flex: 9999 1 calc((var(--breakpoint) - 100%) * 9999);
  min-width: calc(var(--min-size) - var(--gap-computed-inline));
}

.l-stack {
  @include l-stack(var(--gap-computed-block));

  > * {
    --gap-inherit: inherit;
  }
}

.l-stack--compact {
  --gap: 0;
  --gap-self-inherit: inherit;

  > * {
    --gap: var(--gap-default);
  }
}

.l-stack__split-after {
  @include l-stack__split-after;
}

.l-switcher {
  @include l-switcher(var(--breakpoint), var(--gap-computed-inline), var(--gap-computed-block), var(--size, 1));
}

.l-switcher--70-30 {
  > :first-child {
    --size: 7;
  }

  > :last-child {
    --size: 3;
  }
}

.l-switcher--25-50-25 {
  > :first-child {
    --size: 25;
  }

  > :nth-child(2) {
    --size: 50;
  }

  > :last-child {
    --size: 25;
  }
}

.l-switcher,
.l-sidebar {
  --breakpoint-base: var(--measure);
  --breakpoint-scale: 1.25;

  --breakpoint-1: 0rem;
  --breakpoint-2: var(--breakpoint-base);
  --breakpoint-3: calc(var(--breakpoint-2) * var(--breakpoint-scale));
  --breakpoint-4: calc(var(--breakpoint-3) * var(--breakpoint-scale));
  --breakpoint-5: calc(var(--breakpoint-4) * var(--breakpoint-scale));
  --breakpoint-6: calc(var(--breakpoint-5) * var(--breakpoint-scale));
  --breakpoint-7-or-more: 200%;

  --breakpoint: var(--breakpoint-1);

  --child-target-size: auto;

  > * {
    @include n-exactly(2) {
      --breakpoint: var(--breakpoint-2);
    }

    @include n-exactly(3) {
      --breakpoint: var(--breakpoint-3);
    }

    @include n-exactly(4) {
      --breakpoint: var(--breakpoint-4);
    }

    @include n-exactly(5) {
      --breakpoint: var(--breakpoint-5);
    }

    @include n-exactly(6) {
      --breakpoint: var(--breakpoint-6);
    }

    @include n-or-more(7) {
      --breakpoint: var(--breakpoint-7-or-more);
    }
  }
}
